
entrypoint = "chef/main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "chef/main.py"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 3000

[[ports]]
localPort = 8085
externalPort = 8080
exposeLocalhost = true

[env]
REPLIT_NO_WEBVIEW = "true"
ENVIRONMENT = "development"
