entrypoint = "chef/main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python3 -c 'import time; while True: print(\"Test log\", flush=True); time.sleep(5)'"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 3000

[[ports]]
localPort = 8085
externalPort = 8080
exposeLocalhost = true

[env]
REPLIT_NO_WEBVIEW = "true"
ENVIRONMENT = "development"